{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Home</title>
  </head>

  <body>

    {% include "api/include/navbar.html" %}    

    <main class="position-absolute top-50 start-50 translate-middle">
      <h1>LOLDATA</h1>
      
      <form class="d-flex" method="post">
        {% csrf_token %}
        <div class="input-group ">
          <div class="col-md-auto">
            <select id="server" name="server" class="form-select rounded-0 border-0 bg-light bg-opacity-75">
              <option value="EUW1" >EUW</option>
              <option value="NA1" >NA</option>
              <option value="EUN1" >EUN</option>
              <option value="KR" >KR</option>
            </select>
          </div>
          <div class="col">
            <input class="form-control rounded-0 border-0" type="text" name="summoners_name" placeholder="Summoner name" aria-label="Search" required>
          </div>
          <button class="btn bg-white text-dark rounded-0" type="submit"><i class="bi bi-search"></i></button>
        </div>
      </form>

    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>  </body>

</html>
{% endblock %}