{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>{{ user_account_info.name }}</title>
  </head>

  <body>
    {% include "api/include/navbar.html" %}

    {% if user_account_info.user_not_found %}
      <main>
        <h2>Oh no! We couldn't find summoner "{{ user_account_info.name }}"</h2>
        <h4>Please double check your spelling or the region selected</h4>
      </main>

    {% elif user_account_info.success %}

      <main>
        <h1>LOLDATA</h1>

        <p><strong>{{ user_account_info.name }}</strong> </p>   
        
        {%if summoner_stats.no_games %}
          <p>Unranked</p>
        {% else %}
          <p>Tier: <strong>{{ summoner_stats.tier }} {{ summoner_stats.rank }}</strong></p>    
          <p>Winrate (ranked): <strong>W: {{ summoner_stats.wins }} / L: {{ summoner_stats.losses }} ({{summoner_stats.win_rate }}%)</strong></p>
        {% endif %}
        <a href='/{{user_account_info.server}}/{{user_account_info.name}}/In-Game' class="btn btn-primary" role="button" >In-Game</a>
        <p>Level: <strong>{{ user_account_info.summonerLevel }}</strong></p>
        <p>Summoner id: <strong>{{ user_account_info.id }}</strong></p>

        <p>puuid: <strong>{{ user_account_info.puuid }}</strong></p>

      </main>
      <div class="container" style="border:2px solid black;">
        <br>
        {% include "api/include/games.html" %}

        <!-- Twitter-style Pagination -->
        {% block js %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/el-pagination.js' %}"></script>
        <script>
          $.endlessPaginate({
              paginateOnScroll: true,
              paginateOnScrollMargin: 20
          });
        </script>
        {% endblock %}
        <!-- Twitter-style Pagination -->
      </div>
      <br>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>  </body>
    <script src="{% static 'js/load-game-data.js' %}"></script>
  </body>

</html>

{% endblock %}