<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

    <div class="container-fluid">
      <a class="navbar-brand" href="/">LOLDATA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active rounded home" href="/"> <i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded champion" href="#"> <i class="bi bi-trophy"></i> Champions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded live-game" href="#"> <i class="bi bi-broadcast"></i> Live-Game</a>
          </li>
        </ul>
        <form class="d-flex" method="post">
          {% csrf_token %}
          <div class="input-group">
            <div class="col-md-auto">
              <select id="server" name="server" class="form-select rounded-0 border-0 bg-light">
                <option value="EUW1" >EUW</option>
                <option value="NA1" >NA</option>
                <option value="EUN1" >EUN</option>
                <option value="KR" >KR</option>
              </select>
              </div>
            <div class="col">
              <input class="form-control rounded-0 border-0" type="text" name="summoners_name" placeholder="Summoner name" aria-label="Search" required>
            </div>
            <button class="btn bg-white text-dark rounded-0" type="submit"><i class="bi bi-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </nav>