{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'riot/record.css' %}">

{% block content %}
<!doctype html>
<html lang="en">
<head>
  <title>{{ game_info.summoner_name }} In-Game</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
</head>

<body>
    
  <main>
    <h1>RIOT API</h1>
    
    {% if game_info.success %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Game ID</th>
          <th scope="col">Server</th>
          <th scope="col">Game Mode</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ game_info.gameId }}</td>
          <td>{{ game_info.server }}</td>
          <td>{{ game_info.gameMode }}</td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th scope="col">(Blue Team)</th>
          <th scope="col">Rank</th>
          <th scope="col">Win-rate</th>
            
            </tr>
        </thead>
        
        <tbody>
            {% for player in blue_players %}
            <tr >
                <td>{{ player.champion_name }}/<a href="/{{game_info.server}}/{{player.summoner_name}}"> {{ player.summoner_name }}</a></td>
                <td>{{ player.tier }}</a></td>
                <td>{{ player.ranked_stats }}</a></td>
            </tr>
            {% endfor %}
        </tbody>

        <thead>
            <tr>
                <th scope="col">(Red Team)</th>
                <th scope="col">Rank</th>
                <th scope="col">Win-rate</th>
            
            </tr>
        </thead>
        
        <tbody>
            {% for player in red_players %}
            <tr>
                <td>{{ player.champion_name }}/<a href="/{{game_info.server}}/{{player.summoner_name}}"> {{ player.summoner_name }}</a></td>
                <td>{{ player.tier }}</a></td>
                <td>{{ player.ranked_stats }}</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    {% elif game_info.fail %}
        <p>Summoner not in a game</strong></p>

    {% endif %}

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>  </body>

</body>
</html>
{% endblock %}