{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'riot/index.css' %}">

{% block content %}

    <title>Home</title>

    <h1>RIOT API</h1>

    <form method="get">
        <label for="server">Choose server</label>

        <select id="server" name="server">
            <option value="EUW1" >EUW</option>
            <option value="NA1" >NA</option>
            <option value="EUN1" >EUN</option>
            <option value="KR" >Korea</option>
        </select>

        <br>
        <br>

        <input type="text" name="summoners_name" placeholder="Summoner name" required>
        <button type="submit">search on database</button>
    </form>

    <main>
    {% if user.success %}
        <p><strong>{{ user.name }}</strong> </p>    
        <p>Level: <strong>{{ user.summonerLevel }}</strong></p>    
        <p>Summoner id: <strong>{{ user.id }}</strong></p>
        <p>Account id: <strong>{{ user.accountId }}</strong></p>
        <p>puuid: <strong>{{ user.puuid }}</strong></p>

        <a href='/{{user.server}}/{{user.name}}' class="button">More information</a>
        <a href='/{{user.server}}/{{user.name}}/In-Game' class="button" style = "margin-left: 1em;">In-Game</a>
        
    {% elif user.fail %}
        <p>Summoner not found</strong></p>


    {% endif %}

    </main>

{% endblock %}