{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'riot/index.css' %}">

{% block content %}

    <title>Home</title>

    <h1>RIOT API</h1>

    <form method="post">
        {% csrf_token %}
        <label for="server">Choose server</label>

        <select id="server" name="server">
            <option value="EUW1" >EUW</option>
            <option value="NA1" >NA</option>
            <option value="EUN1" >EUN</option>
            <option value="KR" >Korea</option>
        </select>

        <br>
        <br>

        <input type="text" name="summoners_name" placeholder="Summoner name" required>
        <button type="submit">search on database</button>
    </form>

{% endblock %}