{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'riot/record.css' %}">

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ stats.name }}</title>
</head>

<main>
    <h1>RIOT API</h1>

    <p><strong>{{ stats.name }}</strong> </p>    
    <p>Tier: <strong>{{ stats.tier }} {{ stats.rank }}</strong></p>    
    <p>Winrate: <strong>W: {{ stats.wins }} / L: {{ stats.losses }} ({{stats.win_rate }}%)</strong></p>

</main>

<div class="container" style="max-width:700px">
    <div class="game-history">
        <div class="row infinite-container">
            {% for game in games %}
            <div class="col-md-12 infinite-item">
                    <h4><a href="/{{stats.server}}/{{stats.name}}/{{game.champion_name}}/info">{{ game.champion_name }}</a> {{game.position}} {{game.time_diff}} <a href="/{{stats.server}}/{{game.gameId}}/info">{{ game.gameId }}</a></h4>
  
                        <form method="get">
                            <button name="load"type="submit">Load more</button>
                        </form>
                        <br>
                        <br>
                        <br>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}