{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'riot/record.css' %}">

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <title>{{ stats.name }}</title>
</head>

<main>
    <h1>RIOT API</h1>

    <p><strong>{{ stats.name }}</strong> </p>    
    <p>Tier: <strong>{{ stats.tier }} {{ stats.rank }}</strong></p>    
    <p>Winrate: <strong>W: {{ stats.wins }} / L: {{ stats.losses }} ({{stats.win_rate }}%)</strong></p>

</main>

<div class="game-history">
    <div class="row infinite-container">
        {% for game in games %}
            <h4><a href="/{{stats.server}}/{{stats.name}}/{{game.champion_name}}/info">{{ game.champion_name }}</a> {{game.position}} {{game.time_diff}} <a href="/{{stats.server}}/{{game.gameId}}/info">{{ game.game_id}}</a></h4>

            <form method="get">
                    <button name="load" type="submit" value="{{game.game_id}}|{{game.champion}}">Show user's stats</button>
            </form>
            
            <div id="load_more">
            {% if summoner.success %}
                {% if summoner.game_id == game.game_id %}
                    <h2 class="text-muted">{{summoner.win}}</h2>
                    <h2 class="text-muted">{{ summoner.kills }}/{{ summoner.deaths }}/{{ summoner.assist }}  with {{summoner.cs}}cs with {{summoner.cs_min}} per minute and a vision score of {{summoner.vision_score}}</h2>
                    <h2 class="text-muted">Game mode = {{summoner.game_mode}}</h2>
                    <h2 class="text-muted">{{summoner.game_duration}}</h2>

                    <br>
                    <br>
                    <br>
                {% endif %}
            {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}