{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'riot/record.css' %}">
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>{{ user_account_info.name }}</title>
  </head>

  <body>
    {% include "riot/include/navbar.html" %}

    {% if user_account_info.user_not_found %}
      <main>
        <h2>Oh no! We couldn't find summoner "{{ user_account_info.name }}"</h2>
        <h4>Please double check your spelling or the region selected</h4>
      </main>

    {% elif user_account_info.success %}

      <main>
        <h1>RIOT API</h1>

        <p><strong>{{ user_account_info.name }}</strong> </p>   
        
        {%if summoner_stats.no_games %}
          <p>Unranked</p>
        {% else %}
          <p>Tier: <strong>{{ summoner_stats.tier }} {{ summoner_stats.rank }}</strong></p>    
          <p>Winrate (ranked): <strong>W: {{ summoner_stats.wins }} / L: {{ summoner_stats.losses }} ({{summoner_stats.win_rate }}%)</strong></p>
        {% endif %}
        <a href='/{{user_account_info.server}}/{{user_account_info.name}}/In-Game' class="btn btn-primary" role="button" >In-Game</a>
        <p>Level: <strong>{{ user_account_info.summonerLevel }}</strong></p>    
        <p>Summoner id: <strong>{{ user_account_info.id }}</strong></p>
        <p>Account id: <strong>{{ user_account_info.accountId }}</strong></p>
        <p>puuid: <strong>{{ user_account_info.puuid }}</strong></p>

      </main>
      <div class="container" style="border:2px solid black;">
        <br>
        {% include "riot/include/user-profile-page.html" %}

        <!-- Twitter-style Pagination -->
        {% block js %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/el-pagination.js' %}"></script>
        <script>
          $.endlessPaginate({
              paginateOnScroll: true,
              paginateOnScrollMargin: 500
          });
        </script>
        {% endblock %}
        <!-- Twitter-style Pagination -->
      </div>
      br>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function loadGameData(gameId) {
        $.ajax({
          url : gameId, // the endpoint
          method: "GET",
          start_time: new Date().getTime(),
          beforeSend: function(){
            $('#show-span-'+ gameId).hide();
            $('#spinner-span-'+ gameId).show();
            $('#loading-span-'+ gameId).show();
          },
          complete: function(){
            console.log('This request took '+(new Date().getTime() - this.start_time)+' ms');
            $('#show-span-'+ gameId).show();
            $('#spinner-span-'+ gameId).hide();
            $('#loading-span-'+ gameId).hide();
          },
          error: function(xhr, status, error) {
            alert("Rate limitation error");
          },
          success: function(gameJson){
            $('#game-'+ gameId + '-thead-general').append(
                '<tr><th> GameId </th>'
                + '<th> Server </th>'
                + '<th> When </th>'
                + '<th> Duration </th>'
                + '<th> Game Mode </th>'
                + '<th> Patch </th></tr>')

            $('#game-'+ gameId + '-tbody-general').append(
              '<tr><td>' + gameJson.gameId + '</td>'
              + '<td>' + gameJson.platformId + '</td>'
              + '<td>' + gameJson.gameCreation + '</td>'
              + '<td>' + gameJson.gameDuration + '</td>'
              + '<td>' + gameJson.gameMode + '</td>'
              + '<td>' + gameJson.gameVersion + '</td></tr>')
                                                            
            $('#game-'+ gameId + '-thead-blue').append(
              '<tr><th>' + gameJson.teams[0].win + ' (Blue Team) </th>'
              + '<th> Rank </th>'
              + '<th> KDA </th>'
              + '<th> Damage </th>'
              + '<th> CS </th>'
              + '<th> Vision Score </th></tr>')
                                                        
            gameJson.participants.slice(0,5).forEach(participant => $('#game-'+ gameId + '-tbody-blue').append(
              '<tr><td>' + participant.champion_name + '/<a href="/' + gameJson.platformId + '/' + participant.summoner_name + '">' + participant.summoner_name + '</a></td>'
              + '<td>' + participant.tier +  '</td>'
              + '<td>' +  participant.stats.kills + '/' +  participant.stats.deaths + '/' +  participant.stats.assists + '</td>'
              + '<td>' + participant.stats.totalDamageDealtToChampions + '</td>'
              + '<td>' + participant.stats.totalMinionsKilled + '</td>'
              + '<td>' + participant.stats.visionScore + '</td></tr>'))

            $('#game-'+ gameId + '-thead-red').append(
              '<tr><th>' + gameJson.teams[1].win + ' (Red Team) </th>'
              + '<th> Rank </th>'
              + '<th> KDA </th>'
              + '<th> Damage </th>'
              + '<th> CS </th>'
              + '<th> Vision Score </th></tr>')

            gameJson.participants.slice(5,10).forEach(participant => $('#game-'+ gameId + '-tbody-red').append(
              '<tr><td>' + participant.champion_name + '/<a href="/' + gameJson.platformId + '/' + participant.summoner_name + '">' + participant.summoner_name + '</a></td>'
              + '<td>' + participant.tier +  '</td>'
              + '<td>' +  participant.stats.kills + '/' +  participant.stats.deaths + '/' +  participant.stats.assists + '</td>'
              + '<td>' + participant.stats.totalDamageDealtToChampions + '</td>'
              + '<td>' + participant.stats.totalMinionsKilled + '</td>'
              + '<td>' + participant.stats.visionScore + '</td></tr>'))
                  
            $('#game-'+gameId).show()
          }
        });
      }
    </script>
  </body>

</html>

{% endblock %}