@font-face {
  font-family: 'Aquire';
  src: url(../fonts/aquire-font/Aquire.otf);
}

#home {
  background: url('../assets/poro.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

.navbar {
  background-color: #e3f2fd;
}

.navbar img {
  max-height: auto;
  width: 1.5em;
}
.navbar .navbar-brand {
  font-family: 'Aquire';
  font-size: 1.5em;
  padding: 0 0 0 0.5rem;
}

.navbar .nav-link {
  font-size: 1.3em;
}

form .form-select, form .form-control, form .btn {
  border: 0;
  border-radius: 0;
}

form .form-select {
  width: auto;
}

#home main .title {
  font-family: 'Aquire';
  font-size: 3em;
  padding-bottom: 1.3rem;
}

#home main .title img {
  width: 1.5em;
  max-height: auto;
}

#profile {
  background-color: #A0B7C7;
}

#profile main {
  padding-top: 8rem;
}

#profile main .summoner-error{
  text-align:center;
}

main .main-profile {
  margin-bottom: 3rem;
  align-items: center;
}

.main-profile .profile-picture {
  border-radius: 20%;
  max-width: 100%;
  height: 6.5em;
}

.main-profile .summoner-name {
  color:white;
  text-align: center;
  font-size: 1em;
}

main .ranked-points {
  text-align: center;
  width: 25vw;
}

.ranked-points .rank-title {
  color: white; 
  text-align: center;
  font-size: 1.2em;
}

.ranked-points .rank-img {
  height: 3.6em;
  display:inline-block;
}

.ranked-points .rank-data {
  white-space: pre;
  font-size: 1em;
}

.tooltip-information {
  float: right;
  margin-right: 2rem;
  font-size: 1em;
}

.icons {
  font-size: 2em;
}

.summary-title {
  margin: 0 1.5rem 0 1.5rem;
  font-size: 2em;
}

.stats .progress-bar-vertical {
  width: 1.5em;
  min-height: 100px;
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.stats .progress-bar-vertical .progress-bar {
  width: 100%;
}

.stats .bar-role-img {
  width: 1em;
  max-height: 100%;
  margin-top: .4rem;
}

.match-list .match-summary {
  cursor: pointer;
  margin-bottom: .5rem;
  padding: .5rem;
}

.match-list #win {
  background-color: #A3CFEC;
}

.match-list #lose {
  background-color: #E2B6B3;
}

.match-list .group-one {
  width: 20%;
  text-align: center
}

.group-one .position-img {
  width: 3em;
  max-height: auto;
}

.match-list .group-two {
  width: 30%;
  margin-left: 1rem;
}

.group-two .main-champion {
  max-width: 100%;
  height: 3.5em;
  margin-right: .4rem;
}

.group-two .main-spell {
  max-width: 100%;
  height: 1.5em;
}

.group-two .secondary-spell {
  max-width: 100%;
  height: 1em;
}

.group-two .kda {
  margin-left: 1rem;
}

.group-two .kda .total {
  font-size: 1.2em;
}

.group-two .kda .ratio {
  font-size: .8em;
}

.group-two .items {
  width: 1.5em;
  max-height: 1.5em;
  margin-right: .2rem;
  margin-top: .2rem;
}

.group-two .items-blank {
  background-color: #5190b9;
}

.match-list .group-three {
  width: 15%;
  margin-left: 1rem;
}

.group-three svg{
  width: 1em;
  max-height: auto;
}

.group-three .svg-data {
  margin-left: .4rem;
}

.match-list .group-four {
  width: 30%;
}

.group-four .summoner-names {
  display: inline-block;
  width: 6em;
  font-size: .8em;
  margin-left: .4rem;
}

.group-four .champion-face {
  max-width: 100%;
  height: 1em;
  margin-left: 0.4rem;
}

.details {
  display: none;
  margin-top: 2rem;
}