@font-face {
  font-family: 'Aquire';
  src: url(../fonts/aquire-font/Aquire.otf);
}

body {
  background: url('../assets/poro.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

/* Remove margin of form in navbar */
.d-flex{
  margin: 0;
 }

.navbar .navbar-brand {
  font-family: 'Aquire';
  font-size: 2em;
  padding: 0 0.1em 0 0.1em;
}

.nav-link {
  font-size: 1.3em;
}

main > h1 {
  font-family: 'Aquire';
  text-align: center;
  font-size: 5em;
}