@font-face {
  font-family: 'Aquire';
  src: url(../fonts/aquire-font/Aquire.otf);
}

body{
  background-color: #A0B7C7;
  color: white;
}

/* Remove margin of form in navbar to align with text on the left*/
.d-flex{
  margin: 0;
 }

.navbar .navbar-brand {
  font-family: 'Aquire';
  font-size: 2em;
  padding: 0 0.1em 0 0.1em;
}

.nav-link {
  font-size: 1.3em;
}

main{
  text-align: center;
  padding-top: 6em;
}
